.wallet-list {
    display: flex;
    width: 100%;
}

.wallet {
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    word-break: break-word;
}

.deleteWallet {
    color: red;
    cursor: pointer;
    padding: 10px;
    border: 1px solid red;
    width: 20px;
    height: 15px;
    float: right;
}

.wallet-control {
    margin: 10px;
}